*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #136772;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 0 0 1rem rgba(255,255,255,3); */
    font-size: 8vmin;
    background-color: #EDF6F9;
    color: #023436;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#83C5BE;
    color:#023436;
    border-radius: 1rem;
    border: none;

}
#new-btn{
    margin: 15px auto 30px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#83C5BE;
    color:#023436;
    border-radius: 1rem;
    border: none;
}
#msg{
    font-size: 5vmin;
    color: #EDF6F9;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;  
}
.hide{
    display: none;
   
}

